<%
controller ||= params[:controller]
record_select_id = record_select_id(controller)
-%>
<div class="record-select" id="<%= record_select_id -%>">
  <%= render_record_select '_search.rhtml', :locals => {:controller => controller, :record_select_id => record_select_id} %>
  <%= render_record_select '_list.rhtml', :locals => {:controller => controller, :page => @page, :record_select_id => record_select_id} %>
</div>