.record-select {
  width: 300px;
  border: 1px solid #afd0f5;
  font-family: sans-serif;
  background-color: #fff;
  font-size: 11px;
}

.record-select img {
  border-width: 0px;
}

.record-select form {
  display: inline;
}

.record-select form .text-input {
  width: 294px;
  margin: 2px auto 1px auto;
  display: block;
  border: 1px solid #999;
}

.record-select form input.example {
  color: #999;
  text-align: center;
}

.record-select ol,
.record-select li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.record-select a {
  color: #0066cc;
  text-decoration: none;
}

.record-select ol a {
  display: block;
  zoom: 1;
  background-color: #e6f2ff;
  padding: 2px 4px;
}

.record-select ol .even a {
  background-color: #ffffff;
}

.record-select ol .pagination a {
  background-color: #eee;
}

.record-select ol .previous a {
  border-bottom: 1px solid #afd0f5;
}

.record-select ol .next a {
  border-top: 1px solid #afd0f5;
}

.record-select ol .pagination a img {
  vertical-align: middle;
}

.record-select ol .found {
  text-align: center;
  font-style: italic;
  color: #999;
  padding: 1px 4px;
  border-bottom: 1px solid #afd0f5;
}

.record-select ol .current a,
.record-select ol a:hover {
  background-color: #ffff88;
}

.record-select ol a.selected {
  background-color: #666;
  color: #fff;
}

.record-select-container {
  position: absolute;
  z-index: 100;
}

iframe.record-select-mask {
  /* to mask windowed elements in IE6 */
  position: absolute;
  z-index: 99;
  filter: progid:DXImageTransform.Microsoft.Alpha(style=0,opacity=0);
}

.record-select-autocomplete form .text-input {
  display: none;
}

.record-select-list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.record-select-list li {
  overflow: auto;
  zoom: 1;
  margin-left: 10px;
  font-size: 80%;
}

.record-select-list label {
  float: left;
}

.record-select-list a.remove {
  display: block;
  width: 0px;
  height: 16px;
  padding-left: 16px;
  background: url('../../images/record_select/cross.gif') no-repeat 0 0;
  overflow: hidden;
  float: left;
  margin-right: 5px;
}